.input {
  margin: 6px 0px;
}
.input label {
  margin: 4px 0px;
  font-size: 18px;
  color: #50505a;
}
.input input {
  margin: 4px 0px;
  padding: 4px;
  font-size: 18px;
  color: #7f7f87;
  background-color: #dfdfe1;
  border: 1px solid #7f7f87;
  border-radius: 4px;
}