.noList {
  margin: 40px 0px;
  padding: 20px 32px;
  border-radius: 10px;
  background-color: #f6f9fa;
  font-size: 20px;
  color: #50505a;
}
.list {
  margin: 30px 0px;
}
.list li {
  margin: 10px 0px;
  padding: 20px 32px;
  border-radius: 10px;
  background-color: #f6f9fa;
  font-size: 14px;
  color: #50505a;
}